
<link rel="stylesheet" href="../css/table.css">
<h2 style="text-align: center;">Update Form</h2>
<form id="update-form" method="POST" action="http://localhost:3000/admin-control/updateForm/{{formById.id}}">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date/Time</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Whatsapp Number</th>
        <th>House Address</th>
        <th>Age Group</th>
        <th>Birthday</th>
        <th>Born Again</th>
        <th>Current Church</th>
        <th>Born Again Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td><input type="text" value="{{formById.id}}" name="id" readonly></td>
        <td><input type="text" value="{{formById.date_time}}" name="date_time"></td>
        <td><input type="text" value="{{formById.name}}" name="name"></td>
        <td><input type="text" value="{{formById.surname}}" name="surname"></td>
        <td><input type="email" value="{{formById.email}}" name="email"></td>
        <td><input type="text" value="{{formById.phoneNumber}}" name="phoneNumber"></td>
        <td><input type="text" value="{{formById.whatsapp_no}}" name="whatsapp_no"></td>
        <td><input type="text" value="{{formById.house_address}}" name="house_address"></td>
        <td><input type="text" value="{{formById.age_group}}" name="age_group"></td>
        <td><input type="text" value="{{formById.birthday}}" name="birthday"></td>
        <td><input type="text" value="{{formById.born_again}}" name="born_again"></td>
        <td><input type="text" value="{{formById.current_church}}" name="current_church"></td>
        <td><input type="text" value="{{formById.born_again_date}}" name="born_again_date"></td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Update Form</button>
