<link rel="stylesheet" href="http://localhost:3000/styles.css">
<h2 style="text-align: center;">All Forms</h2>

<table >
  <thead>
    <tr>
      <th>Id</th>
      <th>Date and Time</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>WhatsApp Number</th>
      <th>House Address</th>
      <th>Age Group</th>
      <th>Birthday</th>
      <th>Born Again</th>
      <th>Current Church</th>
      <th>Born Again Date</th>
      <th>Actions</th>
       <th>Access Token</th>
    </tr>
  </thead>
 <tbody>
  {{#if getForm}}
    {{#each getForm}}
      <tr>
        <td>{{id}}</td>
        <td>{{date_time}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>{{email}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{whatsapp_no}}</td>
        <td>{{house_address}}</td>
        <td>{{age_group}}</td>
        <td>{{birthday}}</td>
        <td>{{born_again}}</td>
        <td>{{current_church}}</td>
        <td>{{born_again_date}}</td>
        <td>
           <div class="action-buttons"></div>
               <form action="http://localhost:3000/admin-control/secure-update-form/{{id}}" method="POST">
               <input type="hidden" name="access_token" value="{{../accessToken}}">
                <button type="submit" class="edit-btn">Edit</button>
            </form>
                {{!-- <button class="delete-btn" onclick="deleteForm('{{id}}')">Delete</button>   --}}
                {{!-- <a href="http://localhost:3000/admin-control/secure-update-form/{{id}}" class="edit-btn">Edit</a> --}}
            </form>
            </div>
        </td>
        <td>{{../accessToken}}</td>
      </tr>
    {{/each}}

    <script src="formAction.js" type="text/javascript"></script>
  {{else if getUpdatedForm}}
    {{#each getUpdatedForm}}
      <tr>
        <td>{{id}}</td>
        <td>{{date_time}}</td>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>{{email}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{whatsapp_no}}</td>
        <td>{{house_address}}</td>
        <td>{{age_group}}</td>
        <td>{{birthday}}</td>
        <td>{{born_again}}</td>
        <td>{{current_church}}</td>
        <td>{{born_again_date}}</td>
        <td>
           <div class="action-buttons">
                <form action="http://localhost:3000/admin-control/updateForm/{{id}}" method="GET">
                <input type="hidden" name="access_token" value="{{accessToken}}">
                <button type="submit" class="edit-btn">Edit</button>
                <button class="delete-btn" onclick="deleteForm('{{id}}')">Delete</button> 
            </form>
            </div>
        </td>
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td colspan="13" class="text-center">No forms available</td>
    </tr>
  {{/if}}
</tbody>
</table>


