<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/render.css">
</head>
<body>
<h1>Form Submission Result</h1>
<p><b>Date and Time: </b> {{form.date_time}}</p>
<p><b>Name: </b>{{form.name}}</p>
<p><b>Surname:</b> {{form.surname}}</p>
<p><b>Email: </b>{{form.email}}</p>
<p><b>Phone Number: </b>{{form.phoneNumber}}</p>
<p><b>WhatsApp Number: </b>{{form.whatsapp_no}}</p>
<p><b>House Address: </b>{{form.house_address}}</p>
<p><b>Age Group:</b> {{form.age_group}}</p>
<p><b>Birthday: </b>{{form.birthday}}</p>
<p><b>Born Again:</b> {{form.born_again}}</p>
<p><b>Current Church:</b> {{form.current_church}}</p>
<p><b>Born Again Date:</b> {{form.born_again_date}}</p><br><br>
<p>Thanks for filling!!</p>


</body>
</html>
