<link rel="stylesheet" href="../css/table.css">
<h2 style="text-align: center;">Form Data</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date and Time</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>WhatsApp Number</th>
      <th>House Address</th>
      <th>Age Group</th>
      <th>Birthday</th>
      <th>Born Again</th>
      <th>Current Church</th>
      <th>Born Again Date</th>
    </tr>
  </thead>
  <tbody>
    {{#if form}}
      <tr>
        <td>{{id}}</td>
        <td>{{form.date_time}}</td>
        <td>{{form.name}}</td>
        <td>{{form.surname}}</td>
        <td>{{form.email}}</td>
        <td>{{form.phoneNumber}}</td>
        <td>{{form.whatsapp_no}}</td>
        <td>{{form.house_address}}</td>
        <td>{{form.age_group}}</td>
        <td>{{form.birthday}}</td>
        <td>{{form.born_again}}</td>
        <td>{{form.current_church}}</td>
        <td>{{form.born_again_date}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="13">No form data found.</td>
      </tr>
    {{/if}}
  </tbody>
</table>
