<h2>Update Form</h2>
<table>
  <tr>
    <th>ID</th>
    <td>{{formById.id}}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td><input type="text" id="name" value="{{formById.name}}"></td>
  </tr>
  <tr>
    <th>Surname</th>
    <td><input type="text" id="surname" value="{{formById.surname}}"></td>
  </tr>
   <tr>
    <th>Email</th>
    <td><input type="text" id="email" value="{{formById.email}}"></td>
  </tr>
   <tr>
    <th>Phone Number</th>
    <td><input type="text" id="phoneNumber" value="{{formById.phoneNumber}}"></td>
  </tr>
   <tr>
    <th>Whatsapp_no</th>
    <td><input type="text" id="whatsappNo" value="{{formById.whatsappNo}}"></td>
  </tr>
   <tr>
    <th>House Address</th>
    <td><input type="text" id="houseAddress" value="{{formById.houseAddress}}"></td>
  </tr>
   <tr>
    <th>Age Group</th>
    <td><input type="text" id="ageGroup" value="{{formById.ageGroup}}"></td>
  </tr>
   <tr>
    <th>Birthday</th>
    <td><input type="text" id="birthday" value="{{formById.birthday}}"></td>
  </tr>
   <tr>
    <th>Born Again</th>
    <td><input type="text" id="bornAgain" value="{{formById.bornAgain}}"></td>
  </tr>
   <tr>
    <th>Current Church</th>
    <td><input type="text" id="currentChurch" value="{{formById.currentChurch}}"></td>
  </tr>
   <tr>
    <th>Born Again Date</th>
    <td><input type="text" id="bornAgainDate" value="{{formById.bornAgainDate}}"></td>
  </tr>
</table>
<button onclick="updateFormData()">Update Form</button>